* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, #0E1112 0%, #00090E 100%);
  min-height: 100vh;
}

h2 {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.app-container {
  width: 1200px;
  min-width: 90%;
  margin: 56px auto;
  display: flex;
  gap: 28px;
}

.main-content {
  flex-grow: 1;
}

.grid {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}